@import url(https://fonts.googleapis.com/css?family=Abel);
/* line 6, C:/Users/Will/Desktop/Mother's Day 2017/sass/main.scss */
h1 {
  color: white;
  font-family: "Abel",sans-serif;
  font-size: 100px;
  margin-top: 275px;
  margin-left: 625px;
}

/* line 15, C:/Users/Will/Desktop/Mother's Day 2017/sass/main.scss */
.message {
  position: absolute;
  top: 270px;
  left: -10vw;
}

/* line 37, C:/Users/Will/Desktop/Mother's Day 2017/sass/main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 42, C:/Users/Will/Desktop/Mother's Day 2017/sass/main.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 44, C:/Users/Will/Desktop/Mother's Day 2017/sass/main.scss */
body {
  background-color: black;
  margin: 0px;
}

/* line 49, C:/Users/Will/Desktop/Mother's Day 2017/sass/main.scss */
canvas {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

/* line 56, C:/Users/Will/Desktop/Mother's Day 2017/sass/main.scss */
.heart {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  will-change: transform;
}

/* line 66, C:/Users/Will/Desktop/Mother's Day 2017/sass/main.scss */
.heart:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: animation 3.2s cubic-bezier(1, 0, 0, 1) 0.5s infinite both alternate;
  background-image: linear-gradient(-45deg, #652be2 6.2625%, transparent 6.2625%), linear-gradient(-135deg, blue 6.2625%, transparent 6.2625%), linear-gradient(45deg, #511a89 6.2625%, transparent 6.2625%), linear-gradient(135deg, #652be2 6.2625%, transparent 6.2625%), linear-gradient(-45deg, #412be2 6.2625%, transparent 6.2625%), linear-gradient(-135deg, #2c0e49 6.2625%, transparent 6.2625%), linear-gradient(-135deg, #652be2 6.2625%, transparent 6.2625%), linear-gradient(45deg, #872be2 6.2625%, transparent 6.2625%), linear-gradient(135deg, #412be2 6.2625%, transparent 6.2625%), linear-gradient(-45deg, #652be2 6.2625%, transparent 6.2625%), linear-gradient(135deg, #872be2 6.2625%, transparent 6.2625%), linear-gradient(-45deg, #652be2 6.2625%, transparent 6.2625%), linear-gradient(-135deg, #511a89 6.2625%, transparent 6.2625%), linear-gradient(45deg, #652be2 6.2625%, transparent 6.2625%), linear-gradient(-135deg, blue 6.2625%, transparent 6.2625%), linear-gradient(45deg, #412be2 6.2625%, transparent 6.2625%), linear-gradient(135deg, #2c0e49 6.2625%, transparent 6.2625%), linear-gradient(-45deg, #511a89 6.2625%, transparent 6.2625%), linear-gradient(-135deg, #652be2 6.2625%, transparent 6.2625%), linear-gradient(45deg, blue 6.2625%, transparent 6.2625%), linear-gradient(135deg, #412be2 6.2625%, transparent 6.2625%), linear-gradient(-45deg, #652be2 6.2625%, transparent 6.2625%), linear-gradient(-135deg, #2c0e49 6.2625%, transparent 6.2625%), linear-gradient(45deg, #511a89 6.2625%, transparent 6.2625%), linear-gradient(-135deg, #652be2 6.2625%, transparent 6.2625%), linear-gradient(-45deg, #2c0e49 6.2625%, transparent 6.2625%), linear-gradient(135deg, blue 6.2625%, transparent 6.2625%), linear-gradient(-45deg, #2c0e49 6.2625%, transparent 6.2625%), linear-gradient(135deg, #412be2 6.2625%, transparent 6.2625%), linear-gradient(-45deg, #872be2 6.2625%, transparent 6.2625%), linear-gradient(-135deg, #2c0e49 6.2625%, transparent 6.2625%), linear-gradient(45deg, #412be2 6.2625%, transparent 6.2625%), linear-gradient(135deg, #652be2 6.2625%, transparent 6.2625%), linear-gradient(-45deg, #872be2 6.2625%, transparent 6.2625%), linear-gradient(135deg, #412be2 6.2625%, transparent 6.2625%), linear-gradient(135deg, #872be2 6.2625%, transparent 6.2625%), linear-gradient(-45deg, #652be2 6.2625%, transparent 6.2625%), linear-gradient(-135deg, #872be2 6.2625%, transparent 6.2625%), linear-gradient(45deg, #652be2 6.2625%, transparent 6.2625%), linear-gradient(135deg, blue 6.2625%, transparent 6.2625%), linear-gradient(-45deg, #652be2 6.2625%, transparent 6.2625%), linear-gradient(135deg, #511a89 6.2625%, transparent 6.2625%), linear-gradient(-45deg, #652be2 6.2625%, transparent 6.2625%), linear-gradient(135deg, blue 6.2625%, transparent 6.2625%), linear-gradient(45deg, blue 6.2625%, transparent 6.2625%), linear-gradient(135deg, #2c0e49 6.2625%, transparent 6.2625%), linear-gradient(-45deg, #652be2 6.2625%, transparent 6.2625%), linear-gradient(-135deg, #872be2 6.2625%, transparent 6.2625%), linear-gradient(45deg, #511a89 6.2625%, transparent 6.2625%), linear-gradient(135deg, #412be2 6.2625%, transparent 6.2625%);
  background-position: 183px 49px, 117px 260px, 291px 284px, 183px 169px, 246px 197px, 15px 115px, 246px 103px, 170px 81px, 217px 89px, 198px 34px, 47px 274px, 75px 100px, 147px 94px, 9px 158px, 49px 298px, 207px 279px, 171px 295px, 158px 294px, 224px 27px, 1px 21px, 156px 217px, 30px 82px, 190px 201px, 82px 204px, 215px 177px, 248px 72px, 43px 210px, 82px 222px, 105px 158px, 283px 46px, 247px 291px, 139px 222px, 41px 290px, 131px 219px, 156px 196px, 167px 92px, 137px 53px, 62px 213px, 68px 238px, 104px 207px, 30px 190px, 265px 263px, 19px 234px, 150px 181px, 187px 137px, 99px 226px, 23px 10px, 261px 59px, 37px 254px, 29px 166px;
}

@keyframes animation {
  50%, 100% {
    background-position: 75px 75px, 75px 75px, 37.5px 112.5px, 37.5px 112.5px, 75px 150px, 75px 150px, 112.5px 37.5px, 75px 75px, 75px 75px, 112.5px 112.5px, 75px 112.5px, 112.5px 150px, 112.5px 150px, 75px 187.5px, 112.5px 187.5px, 112.5px 75px, 112.5px 75px, 150px 112.5px, 150px 112.5px, 112.5px 150px, 112.5px 150px, 150px 187.5px, 150px 187.5px, 112.5px 225px, 150px 225px, 187.5px 75px, 150px 75px, 187.5px 112.5px, 150px 112.5px, 187.5px 150px, 187.5px 150px, 150px 187.5px, 150px 187.5px, 187.5px 225px, 150px 225px, 187.5px 37.5px, 225px 75px, 225px 75px, 187.5px 112.5px, 187.5px 112.5px, 225px 150px, 187.5px 150px, 225px 187.5px, 187.5px 187.5px, 225px 75px, 225px 75px, 262.5px 112.5px, 262.5px 112.5px, 225px 150px, 225px 150px;
  }
}

/*# sourceMappingURL=../css/main.map */